extends layout.pug

block content
  <h1>share?</h1>
  <form action="/post-a-thread" method="post">
    | title: <br>
    <input type="text" name="title"/><br>
    | content: <br>
    <textarea name="content" cols="30" rows="8"></textarea><br>
    <button>submit</button>
  </form>