extends layout.pug

block content
  <form action="/register" method="POST">
    <div>user name<input type="text" name="name"></div>
    <div>email<input type="text" name="email"></div>
    <div>password<input type="text" name="password"></div> 
    <div>passwordConfirm<input type="text" name="passwordConfirm"></div> 
    <button type="submit">submit</button>
    </form>
  script.
      $('form').on('submit',(e)=>{
        var pwd = $('input[name="password"]').val()
        pwd = SparkMD5.hash(pwd)
        $('input[name="password"]').val(pwd)
      }) 
      
      $('form').on('submit',(e)=>{
        var pwd = $('input[name="passwordConfirm"]').val()
        pwd = SparkMD5.hash(pwd)
        $('input[name="passwordConfirm"]').val(pwd)
      }) 